:root {
    --body-background-color: #F0F0F0;
    --body-text-color: #616161;
    --card-background-color: #F0F0F0;
    --nav-background-color: #F0F0F0;
    --nav-border-bottom-color: #59CC95;
    --nav-current-border-bottom-color: #59CC95;
    --card-border-color: #59CC95;
    --down-border-left-color: #CE5E5E;
    --down-background-color: #CE5E5E;
    --degraded-border-left-color: #FFBE5E;
    --up-border-left-color: #59CC95;
    --tag-color: #81EDB9;
    --tag-up-background-color: #59CC95;
    --tag-down-background-color: #CE5E5E;
    --tag-degraded-background-color: #FFBE5E;
    --change-background-color: #FFBE5E;
    --error-button-border-color: #616161;
    --error-button-background-color: #F0F0F0;
    --error-button-color: #616161;
    --submit-button-border-color: #616161;
    --submit-button-background-color: #F0F0F0;
    --submit-button-color: #616161;
    --graph-opacity: 1;
    --graph-filter: none;
}